@model List<E_market.Core.Application.ViewModels.Articles.GetArticleViewModel>
@{
    ViewData["Title"] = "Main Page";
}

<div class="nav-scroller bg-body shadow-sm mb-4">
    <nav class="nav" aria-label="Secondary navigation">
        <h5 class="navbar-text me-2">Filter by Category: </h5>
        @for (int i = 0; i <= 10; i++)
        {
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="@i" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    checkbox #@i
                </label>
            </div>
        }
        <button class="btn btn-outline-primary ms-auto">Search</button>
    </nav>
</div>

<div class="d-flex justify-content-lg-start gap-5">
    <div class="row flex-fill">
        @foreach (E_market.Core.Application.ViewModels.Articles.GetArticleViewModel article in Model)
        {
            <div class="col-sm-4">
                <div class="card mb-2">
                    <img src="@article.ImgUrl" class="card-img-top" width="300" height="250" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">@article.Name</h5>
                        <p class="card-text">@article.Description</p>
                        <ul class="list-group list-group-flush">
                            <li class="fw-bold list-group-item">RD$ @article.Price</li>
                            <li class="list-group-item text-info fw-bold">@article.Category</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
